.nav-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid black; }
  .nav-container .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .nav-container .navigation li {
      list-style: none; }
      .nav-container .navigation li .title {
        padding-left: 0; }
        .nav-container .navigation li .title a {
          color: #000;
          text-decoration: none; }
        .nav-container .navigation li .title a:hover {
          color: grey; }

.btn-primary {
  padding: .5rem 1rem;
  border: none;
  border-radius: .5rem; }

.form-container {
  max-width: 1440px;
  width: 100%;
  margin: auto; }
  .form-container .form {
    width: 30%;
    padding: 2rem; }
    .form-container .form div:not(:first-child) {
      margin-top: 2rem; }



      
